body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f4f4f4;
  color: #006400;
}

/* navbar */
nav {
  background: #228b22;
  padding: 10px;
  display: flex;
  align-items: center;
}
nav .logo {
  height: 40px;
  margin-right: 20px;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* spesifik section */
section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 8px;
}

/* Home */
.home-banner {
  position: relative;
  background: url("https://images.unsplash.com/photo-1697350978674-4b40261b0dc3?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner .home-overlay-text {
  color: white;
  text-align: center;
  max-width: 750px;
  padding: 20px;
  font-size: 1.5em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

.about-banner {
  margin: 20px;
  padding: 20px;
  border-radius: 8px;
  position: relative;
  background: url("https://images.unsplash.com/photo-1647124397015-58e36e30e2fc?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
  min-height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-overlay-text {
  background: rgba(0, 100, 0, 0.6);
  color: white;
  border-radius: 8px;
  text-align: center;
  max-width: 800px;
  padding: 20px;
  font-size: 1.2em;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}

/* Our Profile --Vision & Mission */
#vision-mission {
  display: flex;
  flex-direction: column;
  margin: 20;
  padding: 0;
}

/* Our Profile --Vision */
.vision {
  display: flex;
  width: 100%;
  min-height: 400px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: hidden;
}

.vision-image {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1659291749629-93d4a2b9cccc?q=80&w=1206&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.vision-text {
  flex: 1;
  background: #353935;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

/* Our Profile --Mission */
.mission {
  display: flex;
  width: 100%;
  min-height: 400px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}

.mission-image {
  flex: 1;
  background: url("https://images.unsplash.com/photo-1724149715970-666e2264759b?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    no-repeat center center/cover;
}

.mission-text {
  flex: 1;
  background: #6f4e37;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}

@media (max-width: 768px) {
  .vision,
  .mission {
    flex-direction: column;
  }
  .vision-image,
  .mission-image {
    min-height: 200px;
  }
}

/* Our Profile --Headquarter*/
#headquarter {
  margin: 0;
  padding: 40px 20px;
  background: #f4f4f4;
}

#headquarter h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #006400;
}

.hq-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.hq-item {
  flex: 1;
  background: #006400;
  border-radius: 12px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hq-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.hq-item h3 {
  margin: 10px 0;
  color: white;
}

.hq-item p {
  padding: 0 10px 20px;
  color: white;
}

@media (max-width: 768px) {
  .hq-container {
    flex-direction: column;
  }
  .hq-item {
    margin-bottom: 20px;
  }
}

/* Portfolio */
#portfolio {
  margin: 0;
  padding: 40px 20px;
  background: #f4f4f4;
}

#portfolio h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #006400;
}

.portfolio-container {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.portfolio-item {
  flex: 1;
  border-radius: 12px;
  overflow: hidden;
}

.portfolio-image {
  position: relative;
  min-height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.portfolio-text {
  background: rgba(0, 100, 0, 0.6);
  color: white;
  padding: 15px;
  text-align: center;
  width: 100%;
  word-wrap: break-word;
}

@media (max-width: 1024px) {
  .portfolio-container {
    flex-direction: column;
  }
  .portfolio-item {
    margin-bottom: 20px;
  }
}

/* Message Us */
form input,
form textarea {
  display: block;
  margin: 10px 0;
  padding: 8px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  padding: 10px 20px;
  background: 	#353935;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
button:hover {
  background: #1B1212;
}
footer {
  background: #5c4033;
  color: white;
  text-align: center;
  padding: 10px;
}
